.Rproj.user
.Rhistory
.RData
.Ruserdata

data/
docs/

*.bib

# populus program: https://github.com/cbs-rlt/populus
*.jar

# copernicusmarine program:
copernicusmarine.*

# panopoly program
Panoply - Shortcut.lnk
